<div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <div class="ae-grid">
    <div class="ae-grid__item item-lg-6">
      <h4 class="ae-u-bolder au-mb-3 conatct__title">Contact Us</h4>
      <p class="au-mb-4 contact__desc">Say hello using the <a href="#contact-form">contact form </a>below! <br>We're standing by to help.</p>
    </div>
  </div>
  <div class="ae-grid">
    <div class="ae-grid__item item-lg-6">
      <div class="ae-grid__item item-lg-8">
        <p class="au-mb-4 contact__addr">123 Everystreet Crescent<br>Somewheresville, CA<br>12345 USA</p>
        <p> <span class="contact__phone"> <span class="rk-light-color">Phone  </span> (301) 123-4567</span><br><span class="contact__email au-block au-truncate"> <span class="rk-light-color">Email &nbsp;&nbsp; </span><a href="#0">infocompany@contact.com</a></span></p>
      </div>
    </div>
  </div>

  <div class="ae-grid">
    <div class="ae-grid__item item-lg-6">
      <form id="contact-form" action="#0" class="ae-form--full">
        <input type="text" placeholder="* Name" required>
        <input type="email" placeholder="* Email" required>
        <textarea placeholder="Message ..." cols="30" rows="4"></textarea>
      </form>
    </div>
  </div>

</div>
